{% extends 'News/base.html' %}

{% block content %}

<h1>Manage Journalists</h1>

<p>
    Select your journalists:
</p>

<form method="POST">
    {% csrf_token %}

    {% for journalist in journalists %}
        <div>
            <label>
                <input
                    type="checkbox"
                    name="journalists"
                    value="{{ journalist.id }}"
                    {% if journalist in publisher.journalists.all %}
                        checked
                    {% endif %}
                >
                {{ journalist.username }}
            </label>
        </div>
    {% empty %}
        <p>No registered journalists are currently available.</p>
    {% endfor %}

    <br>

        <button type="submit" class="btn-primary">
            Save
        </button>

</form>

<br><br>

<a href="{% url 'view_publication' %}">
    Back to Publication
</a>

<br><br>

<a href="{% url 'publisher_home' %}">
    Back to Publisher Dashboard
</a>

{% endblock content %}

